__pycache__
*.egg-info
.DS_Store

visualizer/src/assets/replay.json

kaggle-environments
tests/private_agents

Lux-Design-2022/
.venv/
viewer/
wandb/
results/
old_results/
replays/
clean_replays/
old_replays/
light_results/

replay*

test.ipynb